html,
body {
  margin: 0;
  height: 100%;
  background: white;
}
 
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
 
header {
  flex-shrink: 0;
}
 
#map {
  width: 100%;
  min-height: 0; /* important pour que flex fonctionne correctement */
}